<?xml version="1.0" encoding="UTF-8"?>
<web-app>
<servlet>
<servlet-name>abc</servlet-name>
<servlet-class>registrationsubmisson.Registrationsubmisson</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>abc</servlet-name>
<url-pattern>/add</url-pattern>
</servlet-mapping>
</web-app>